@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500&display=swap');


body{
    font-family: 'Yantramanav', sans-serif;
}

h1{
    font-weight:500;
    font-size: 2rem;
    margin-bottom: 3%;
    text-decoration: underline;
}

h2{
    font-weight:400;
    font-size: 1.5rem;
    margin: 1%;
}



/* ejercicio 1 */ /* ejercicio 1 */ /* ejercicio 1 */
.box-ejercicio1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 241, 252);
    padding-bottom: 5%;
    border: solid 1px;
    margin-top: 2%;
}

#boxImg1{
    display: flex;
    justify-content: center;
    border: solid 2px transparent;
}



/* ejercicio 2 */ /* ejercicio 2 */ /* ejercicio 2 */
.box-ejercicio2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding-bottom: 5%;
    border: solid 1px;
    margin-top: 2%;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    display: flex;
    width: 80%;
}

.box-ejercicio2 input{
    display: flex;
    margin-top: 1rem;
    border: solid 1px #000000;
    width: 70%;
}

.cantidad{
    margin-top: 2%;
}

.box-ejercicio2 button{
    font-size: 1.3rem;
    margin-top: 2.5rem;
    padding: 0.5rem 2rem;
    background-color: #03c5f6;
    color: #000000;
    font-weight: bold;
    border: solid 2px #000000;
}

.box-ejercicio2 button:hover{
    background-color: #ef4a82;
    color: rgb(0, 0, 0);
}




/* ejercicio 3 */ /* ejercicio 3 */ /* ejercicio 3 */
.box-ejercicio3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 254, 226);
    padding-bottom: 5%;
    border: solid 1px;
    margin-top: 2%;
}


.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container select{
    margin-top: 1rem;
    margin: 1rem;
    width: 4rem;
    background-color: #b2edfc;
    border: solid 1px #000000;
}

.box-ejercicio3 button{
    font-size: 1.3rem;
    margin-top: 2.5rem;
    padding: 0.5rem 2rem;
    background-color: #03f681;
    color: #000000;
    font-weight: bold;
    border: solid 2px #000000;
}

.box-ejercicio3 button:hover{
    background-color: #327e00;
    color: rgb(255, 255, 255);
}
